<div class="card animated fadeIn fast">
    <img [src]=lista.img class="card-img-top img-fluid" alt="aquaman">
    <div class="card-block">
        <h5 class="card-title">{{lista.nombre}}</h5>
        <p class="card-text prueba">{{lista.bio}}.</p>
        <p class="card-text"><small class="text-muted">{{lista.aparicion}}</small></p>
        <!--Navegación vía programación-->
        <button (click)="verHeroe()" class="btn btn-outline-primary btn-block" type="button">
            Ver Más..
        </button>

    </div>
</div>