<div class="container main-container animated fadeIn fast">

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/img/victorh.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Victor Hugo</h5>
            <p class="card-text">La suprema felicidad de la vida es saber que eres amado por ti mismo o, más exactamente, a pesar de ti mismo.</p>
            <a href="https://es.wikipedia.org/wiki/Victor_Hugo" class="btn btn-primary">Ver Más</a>
        </div>
    </div>

</div>