<h1>Buscando : <small>{{termino}}</small></h1>
<hr>
<div class="row animated fadeIn fast" *ngIf="heroes.length ==0">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            No Existen resultados con el término: {{termino}}

        </div>
    </div>
</div>
<div class="card-columns">
    <app-heroe-tarjeta [lista]="lista" [index]="lista.idx" *ngFor="let lista of heroes"></app-heroe-tarjeta>
</div>