body {
    padding-bottom: 50px;
}

.main-container {
    margin-top: 30px;
}

.img-logo {
    width: 120px;
}


/* para que el texto se corte y ponga tres ...*/

.prueba {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/* Animación*/

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}