<h1>Heroes <small>Marvel y DC</small></h1>
<div class="card-columns">

    <!-- *ngFor="let lista of heroes, let i = index" -->
    <app-heroe-tarjeta (heroeSeleccionado)="verHeroe($event)" [lista]="lista" [index]="i" *ngFor="let lista of heroes, let i = index"></app-heroe-tarjeta>

</div>